body{
  font-family:'Sigmar One', cursive;
}

header{
  text-align: center;
  background-color: green;
  padding-top: 10px;
  min-height: 100px;
  color: white;
  img{
    width: 100px;
    border-radius: 100%;
  }
}
div{
  vertical-align: top;
}
article{
  width: 80%;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
  img {
    width: 100%;
    text-align: center;
  }
  p{
    font-size: 14px;
    font-weight: lighter;
  }
}

h3{
  margin: 10px 0;
}

#emeril{
  border-radius: 100%;
}

button{
}

.likes{
  margin-left: 5px;
  color: red;
}
