header {
  text-align: center;
  background-color: green;
  padding-top: 10px;
  min-height: 100px;
  font-family: 'Lobster', cursive; }

div {
  vertical-align: top; }

section {
  text-align: center; }

h3 {
  margin: 0;
  font-family: 'Lobster', cursive; }

img {
  width: 200px; }
