body {
  font-family: 'Sigmar One', cursive; }

header {
  text-align: center;
  background-color: green;
  padding-top: 10px;
  min-height: 100px;
  color: white; }
  header img {
    width: 100px;
    border-radius: 100%; }

div {
  vertical-align: top; }

article {
  width: 80%;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px; }
  article img {
    width: 100%;
    text-align: center; }
  article p {
    font-size: 14px;
    font-weight: lighter;
    padding-left: 15px; }

h3 {
  margin: 10px 0; }

#emeril {
  border-radius: 100%; }

button {
  margin-left: 15px; }

.likes {
  margin-left: 5px;
  color: red; }

aside {
  position: fixed; }

.bamHolder {
  position: relative;
  width: 100%; }

.bam {
  width: 50%;
  position: absolute;
  z-index: 3;
  display: inline;
  top: 25%;
  left: 25%;
  opacity: 0.8; }

.row {
  margin-left: 0;
  margin-right: 0; }
